<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <title>NASA API</title>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

    <link rel="stylesheet" href="styles.css">

</head>

<body>
    <div class="side">
        <header class="side-column">
            <div class="light center">
                <form method="get">
                    <h2>ENTRE COM A DATA</h2>
                    <input type="date" min="2021-05-10" name="date" id="inputDate" max="">
                    <div class="error" id="error"></div>
                    <button id="buscar" type="submit">BUSCAR</button>
                    <p></p>
                    <hr>
                    <p class=" itemMenu"><a href="/newPicture">nova Imagem </a></p>
                    <p class=" itemMenu"><a href="/">sair </a></p>
                </form>
            </div>

        </header>
        <div class="content">
            <main class="row">
                <article>
                    <div class="picture">
                        <img id="picture" src="{{""}}" alt="">
                    </div>
                    {{#picture}}
                    <div>
                        <h1 class="title" id="tittle">{{tittle}}</h1>
                        <ul>
                            <li>{{date}}</li>
                            <li>{{author}}</li>
                        </ul>
                        <h4 id="description"></h4>
                        <p id="explanation">{{description}}</p>
                    </div>
                    {{/picture}}
                    <div id="container"></div>
                    <script type="text/javascript">
                        document.querySelector("#buscar").addEventListener("click",verificaCampo);
                        
                        
                        function verificaCampo(){
                            var date =  document.querySelector("#inputDate").value;
                            var error = document.getElementById("error");
                            var presentation = document.getElementById("resentation");
                            if (date == "" ){
                                error.innerHTML= "Os campos não podem estar vazios!";
                            }else{
                                error.innerHTML= "";
                            }
                        }

                    </script>
                </article>
            </main>
        </div>
    </div>
</body>

</html>