<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <title>NASA API</title>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <link rel="stylesheet" href="styles.css">
</head>

<body>
    <div class="side">
        <header class="side-column">
            <div class="light center"><input type="hidden" id="hiddenflag" name="hiddenflag" value="{{admin}}">
                <form method="get">
                    <h2>PESQUISAR POR DATA</h2>
                    <input type="date" min="2021-05-10" name="date" id="inputDate" max="">
                    <div class="error" id="error"></div>
                    <button id="buscar" type="submit">BUSCAR</button>
                    <p></p>
                    <hr>
                    <p class=" itemMenu"><a id="novaImagem" href="/newPicture">nova Imagem </a></p>
                    <div class="error" id="errorAccess"></div>
                </form>
                <a class="mt-5 item" href="/logout" style="margin-left:10px; height: 35px;">Sair</a>
            </div>
        </header>
        <div class="content">
            <main class="row">
                <article>{{#picture}}
                    <div class="picture">
                        <h1></h1>
                        <img id="picture" src="data:image/jpg;base64, {{picture}}" alt="">
                    </div>
                    <div>
                        <h1 class="title" id="tittle">{{tittle}}</h1>
                        <ul>
                            <li>{{date}}</li>
                            <li>{{author}}</li>
                        </ul>
                        <h4 id="description"></h4>
                        <p id="explanation">{{description}}</p>
                    </div>{{/picture}}
                    <div id="container"></div>
                    <script type="text/javascript">
                        document.querySelector("#buscar").addEventListener("click", verificaCampo);
                        document.querySelector("body").addEventListener("click", function (e) {
                            var flag = document.querySelector("#hiddenflag").value;
                            var errorAccess = document.getElementById("errorAccess");
                            if (flag == 0) {
                                errorAccess.innerHTML = "Acesso apenas para administrador";
                            }
                        }, false);

                        function verificaCampo() {
                            var date = document.querySelector("#inputDate").value;
                            var error = document.getElementById("error");
                            var presentation = document.getElementById("resentation");
                            if (date == "") {
                                error.innerHTML = "Os campos não podem estar vazios!";
                            } else {
                                error.innerHTML = "";
                            }
                        }
                    </script>
                </article>
            </main>
        </div>
    </div>
</body>

</html>